@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin home page</title>
</head>
<body>
    <div>
        <p>Welcome</p>
    </div>
</body>
</html>