@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Vidly.Models.Movie>

<h2>Movies</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>Movies</th>
        <th>Genre</th>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td class="tab-content">@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
            <td>@movie.Genre.Name</td>
        </tr>
    }
</table>