@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Vidly.ViewModels.MoviesViewModel

<h2>Movies</h2>
<table class="table table-bordered table-hover">
    <tr><th>Movies</th></tr>
    @foreach (var movie in Model.ListMovies)
    {
        <tr><td class="tab-content">@movie.Name</td></tr>
    }
</table>